@import url("https://fonts.googleapis.com/css?family=PT+Sans");

/* CSS Variables */

:root {
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #103063;
    --secondary-color-hover: #143f85;
    --light-color: #f4f4f4;
}

body {
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #252529;
    margin: 0;
}

a {
    text-decoration: none;
}


/* Parallax */

.parallax {
    background-image: url("../img/carro/bico.jfif");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Footer */

footer .footer-bottom {
    background: #333;
    padding: 1rem;
    color: #fff;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}


/* Utility Classes */

.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.tamanho-fixo {
    min-height: 245px;
    text-align: center;
}

.espaco {
    padding: 10px;
}

.espacinho {
    padding: 5px;
}

.vertical-center {
    vertical-align: middle;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.branco {
    color: #fff;
}

.sombra {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.grande {
    font-size: 2rem;
}

.medio {
    font-size: 1.5rem;
}

.sem-margem {
    margin-top: 0px;
    margin-bottom: 0px;
}

.icone {
    width: 6rem;
    padding-right: 30px;
}

.borda {
    border: solid white 4px;
    border-radius: 5px;
}

.centro {
    text-align: center;
}


#processo-seletivo button{
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
	font-size: 24px;
	border-radius: 25px;
	position: relative;
	box-sizing: border-box;
    transition: all 500ms ease; 
    padding: 10px 35px;  
	overflow:hidden;
}

#processo-seletivo button:before{
	font-family: FontAwesome;
	content:"\f11e";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}

#processo-seletivo button:hover:before{
	left: 7px;
}

/* Patrocínio */

.categoria {
    color: #b3b3b3;
}

.diamante {
    width: 100%;
}

.ouro {
    width: 50%;
}

.prata {
    width: 25%;
}

.bronze {
    width: 25%;
}


/* Timeline  */

.cd-container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
    border-radius: 2px;
}

.cd-container::after {
    content: "";
    display: table;
    clear: both;
}


/* -------------------------------- 
 Main components 
 -------------------------------- */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: #5774b5;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #bcd3ff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img {
    background: #5774b5;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #002258;
    border-radius: 10px;
    padding: 1em;
}

.cd-timeline-content .timeline-content-info {
    background: #2b343a;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

.cd-timeline-content .timeline-content-info i {
    margin-right: 5px;
}

.cd-timeline-content .timeline-content-info .timeline-content-info-title,
.cd-timeline-content .timeline-content-info .timeline-content-info-date {
    width: calc(50% - 2px);
    display: inline-block;
}

@media (max-width: 500px) {
    .cd-timeline-content .timeline-content-info .timeline-content-info-title,
    .cd-timeline-content .timeline-content-info .timeline-content-info-date {
        display: block;
        width: 100%;
    }
}

.cd-timeline-content .content-skills {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cd-timeline-content .content-skills li {
    background: #40484d;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: rgba(255, 255, 255, 0.7);
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0;
    margin-bottom: 5px;
}

.cd-timeline-content p,
.cd-timeline-content .cd-date {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #002258;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #002258;
    }
    .cd-timeline-content .cd-date {
        text-align: left;
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #002258;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}


/* Blur Effect */

.showcase::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url(../img/carro/scud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: all 1000ms;
}

.content {
    position: absolute;
    z-index: 1;
    right: 5vw;
    width: 30vw;
    text-align: center;
    transition: all 1000ms;
}


/* Small Screens */

@media (max-width: 560px) {
    .showcase::after {
        height: 60vh;
    }
    .content {
        top: 5%;
        margin-top: 5px;
        width: 40vw;
    }
    .content .logo {}
    .content .text {
        font-size: 1.5rem;
        display: none;
    }
}


/* Landscape */

@media (max-height: 500px) {
    .content .title,
    .content .text {
        display: none;
    }
    .content {
        top: 0;
    }
}


/* Card */

.card-wrapper {
    display: inline-block;
    perspective: 1000px;
}

.card-wrapper .card {
    position: relative;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
}

.card-wrapper .card .front,
.card-wrapper .card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.card-wrapper .card .front {
    z-index: 2;
}

.card-wrapper .card .back,
.card-wrapper.flip-right .card .back {
    transform: rotateY(180deg);
}

.card-wrapper:hover .card,
.card-wrapper.flip-right:hover .card {
    transform: rotateY(180deg);
}

.card-wrapper.flip-left .card .back {
    transform: rotateY(-180deg);
}

.card-wrapper.flip-left:hover .card {
    transform: rotateY(-180deg);
}

.card-wrapper.flip-up .card .back {
    transform: rotateX(180deg);
}

.card-wrapper.flip-up:hover .card {
    transform: rotateX(180deg);
}

.card-wrapper.flip-down .card .back {
    transform: rotateX(-180deg);
}

.card-wrapper.flip-down:hover .card {
    transform: rotateX(-180deg);
}

.card-wrapper.flip-diagonal-right .card .back {
    transform: rotate3d(1, 1, 0, 180deg);
}

.card-wrapper.flip-diagonal-right:hover .card {
    transform: rotate3d(1, 1, 0, 180deg);
}

.card-wrapper.flip-diagonal-left .card .back {
    transform: rotate3d(1, 1, 0, -180deg);
}

.card-wrapper.flip-diagonal-left:hover .card {
    transform: rotate3d(1, 1, 0, -180deg);
}

.card-wrapper.flip-inverted-diagonal-right .card .back {
    transform: rotate3d(-1, 1, 0, 180deg);
}

.card-wrapper.flip-inverted-diagonal-right:hover .card {
    transform: rotate3d(-1, 1, 0, 180deg);
}

.card-wrapper.flip-inverted-diagonal-left .card .back {
    transform: rotate3d(1, -1, 0, 180deg);
}

.card-wrapper.flip-inverted-diagonal-left:hover .card {
    transform: rotate3d(1, -1, 0, 180deg);
}

.card-wrapper,
.card {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.card .front,
.card .back {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5774b5;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.card .front {
    color: #5774b5;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
}

.card .back {
    font-size: 0.9rem;
    color: #FFFFFF;
    background: #5774b5;
}


/* Etiqueta */

.etiqueta {
    background: #001399;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.5rem;
}

.detalhe {
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    border-radius: 0px 15px 15px 0px;
}

.metade {
    width: 50%;
}

.todo {
    width: 100%;
}


@media screen and (min-width: 640px) {
    .tamanho {
        width: 80%;
    }
}

@media screen and (min-width: 960px) {
    .tamanho {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .tamanho {
        width: 40%;
    }
}


/* Hidden */

@media screen and (max-height: 650px) {
    .hidden-m {
        display: none;
    }
}

@media screen and (max-height: 540px) {
    .hidden-s {
        display: none;
    }
}


/* Webkit */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1A3865 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.9) !important;
}